@import "normalize.css";
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html {
  background: #BFB85A;
}
body {
  width: 970px;
  margin: 0 auto;
  -background: url("../img/grid.png") top center repeat-y;
  font: normal 15px Helvetica, Arial, Sans-Serif;
  background-color: #D9D59A;
}
#content {
  width: 960px;
  margin: 0 auto;
}
#pub {
  margin: 2em 0 2.3em 0;
}
#pub:after {
  clear: both;
}
#next-slide {
  width: 228px;
  margin: 0 8px;
  padding: 0;
  margin: 0;
  display: inline-block;
}
#next-slide li {
  height: 3.3em;
  margin-top: 1.25em;
  vertical-align: bottom;
  list-style: none;
  border: 1px solid black;
  padding: 0.5em 0.5em 0 0.5em;
  text-align: center;
  font-weight: bold;
  background: #F2E6C2;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
#next-slide li:first-child {
  margin-top: 0;
}
#slider {
  margin-top: 1em;
  width: 716px;
  margin: 0 8px;
  display: inline-block;
  margin-right: 0;
  float: right;
}
#promo,
#nouveaute,
#suggestion {
  width: 960px;
  margin-bottom: 2em;
}
#promo img,
#nouveaute img,
#suggestion img {
  border: 3px solid #BFB85A;
}
#promo article,
#nouveaute article,
#suggestion article {
  display: inline-block;
  width: 167px;
  margin: 0 8px;
  text-align: center;
  margin: 0 1em 0 -3px;
  vertical-align: top;
  -background: #F2E6C2;
  background: white;
  padding: 1em 0;
}
#promo h3,
#nouveaute h3,
#suggestion h3 {
  font-weight: normal;
}
#promo article,
#nouveaute article {
  position: relative;
}
.reduc,
.new {
  background-image: url("../img/bandeau.png");
  width: 76px;
  height: 76px;
  position: absolute;
  top: -1em;
  left: 0;
}
article span {
  position: absolute;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  writing-mode: rl-tb;
  width: 4em;
}
.reduc span {
  font-size: 1.2em;
  font-weight: bold;
  top: 1.1em;
  right: 0.55em;
  color: white;
}
.new span {
  font-weight: bold;
  top: 1.4em;
  right: 1.1em;
  color: white;
}
#promo .etiquette,
#nouveaute .etiquette,
#suggestion .etiquette {
  width: 228px;
  margin: 0 8px;
  margin: 0 15px 0 0;
}
#promo .etiquette ul {
  margin: 1.1em 0;
}
#nouveaute .etiquette ul {
  margin: 2.1em 0;
}
#promo ul,
#nouveaute ul {
  display: inline-block;
  width: 100%;
  list-style: none;
  line-height: 2;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
}
#promo article:last-child,
#nouveaute article:last-child,
#suggestion article:last-child {
  margin-right: 0;
}
.etiquette {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.etiquette h2 {
  margin: 0;
}
.etiquette p {
  font-size: 1.1em;
  margin: 4.35em 0;
}
#logo {
  display: inline;
  margin-left: 5px;
}
#logo img {
  margin-top: 5px;
}
#connexion_shearch {
  float: right;
  width: 350px;
  margin: 0 8px;
  margin: 0 5px 0 0;
  padding: 0;
}
#connexion_shearch ul {
  padding-left: 0;
  width: 350px;
  margin: 0 8px;
  margin: 2.8em 0 1em 0;
  padding: 0;
}
#connexion_shearch li {
  display: inline-block;
  width: 106px;
  margin: 0 8px;
  margin: 0 0 0 0.8em;
  text-align: center;
}
#connexion_shearch a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#connexion_shearch li:first-child {
  margin-left: 0;
}
#connexion_shearch form {
  display: inline-block;
  width: 350px;
  margin: 0 8px;
  padding: 0;
  margin: 0;
}
#connexion_shearch input {
  width: 329px;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.7em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
header {
  background: url("../img/ban.jpg") no-repeat;
}
nav ul {
  padding: 0;
  margin-left: 4em;
}
nav {
  width: 960px;
  margin: 0 8px;
  margin: 1em 0 0 0;
  padding: 0 5px;
  background: #8C6954;
}
nav ul li {
  position: relative;
  width: 106px;
  margin: 0 8px;
  padding: 0;
  margin: 0 0.85em 0 0;
  vertical-align: top;
  text-align: center;
  list-style: none;
  display: inline-block;
}
nav li:hover,
#actif {
  background-color: #734434;
  box-shadow: 0px 0px 2px white;
}
nav li:hover > .secondaire {
  opacity: 1;
  position: absolute;
  top: 99%;
  left: 0;
  background-color: #734434;
}
.secondaire {
  width: 25.4em;
  margin: 0;
  padding: 0 5px;
  text-align: left;
  line-height: 1.2;
  position: absolute;
  top: -9999px;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  z-index: 20;
}
.secondaire li {
  width: 167px;
  margin: 0 8px;
  text-align: left;
  display: inline-block;
  margin: 0 0.8em 0 0;
  padding: 0 0 0 0.5em;
}
.menu_large {
  width: 167px;
  margin: 0 8px;
  margin: 0 0.85em 0 0;
}
nav a,
.menu_large a {
  padding: 0.6em 0;
  display: inline-block;
  width: 106px;
  margin: 0 8px;
  margin: 0;
  color: white;
  text-decoration: none;
}
.secondaire a {
  width: 167px;
  margin: 0 8px;
  margin: 0;
}
.menu_large a {
  width: 167px;
  margin: 0 8px;
  margin: 0;
}
input[type=submit] {
  -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color: #77d42a;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #268a16;
  display: inline-block;
  color: #306108;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-shadow: 2px 1px 10px #aade7c;
}
input[type=submit]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color: #5cb811;
}
